<input type="checkbox"
       (click)="$event.stopPropagation()"
       [checked]="hasAllSelected()"
       (change)="$event ? toogle() : null"
       [indeterminate]="hasIntermediate()"
> All ( {{sizeSelectedAll()}} / {{sizeAll()}} )
<input type="checkbox"
       (click)="$event.stopPropagation()"
       [checked]="sizeSelectedMale() === sizeMale()"
       (change)="$event ? toogleMale() : null"
       [indeterminate]="hasIntermediateMale()"
> Men ( {{sizeSelectedMale()}} / {{sizeMale()}} )

<input type="checkbox"
       (click)="$event.stopPropagation()"
       [checked]="sizeSelectedFemale() === sizeFemale()"
       (change)="$event ? toogleFemale() : null"
       [indeterminate]="hasIntermediateFemale()"
> Women ( {{sizeSelectedFemale()}} / {{sizeFemale()}} )

<input type="button" value="Invert"
  (click)="invertSelection()" />

