<app-hero-table-actions></app-hero-table-actions>
<table mat-table [dataSource]="heroes" >

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      &nbsp;
    </th>
    <td mat-cell *matCellDef="let row">
      <input type="checkbox" (click)="$event.stopPropagation()"
                    (change)="$event ? toggleSelection(row) : null"
                    [checked]="isSelected(row)"
                    />
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let hero"> {{hero.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let hero"> {{hero.name}} </td>
  </ng-container>

  <!-- Sex Column -->
  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef> Sex </th>
    <td mat-cell *matCellDef="let hero"> {{hero.sex}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<h3>Selected:</h3>
<pre>
{{ getSelected() | json }}
</pre>
